<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.huntergdavis.bvb.visiblehost"
    android:versionCode="39"
    android:versionName="0.1.38">

    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="36" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:required="true"
        android:version="1" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:extractNativeLibs="true"
        android:hasCode="true"
        android:label="BVB Visible Vulkan Gate"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">
        <provider
            android:name="io.github.huntergdavis.bvb.visiblehost.SharedRegionProvider"
            android:authorities="io.github.huntergdavis.bvb.visiblehost.shared"
            android:exported="true"
            android:grantUriPermissions="false" />
        <receiver
            android:name="io.github.huntergdavis.bvb.visiblehost.SharedRegionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.huntergdavis.bvb.visiblehost.REQUEST_SHARED_REGION" />
                <action android:name="io.github.huntergdavis.bvb.visiblehost.REQUEST_EXTERNAL_MEMORY" />
                <action android:name="io.github.huntergdavis.bvb.visiblehost.REQUEST_EXTERNAL_SYNC" />
                <action android:name="io.github.huntergdavis.bvb.visiblehost.REQUEST_EXTERNAL_IMAGE" />
                <action android:name="io.github.huntergdavis.bvb.visiblehost.REQUEST_EXTERNAL_IMAGE_FENCED" />
                <action android:name="io.github.huntergdavis.bvb.visiblehost.REQUEST_EXTERNAL_IMAGE_FRAME_RING" />
            </intent-filter>
        </receiver>
        <activity
            android:name="io.github.huntergdavis.bvb.visiblehost.VisibleHostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="bvb-visible-host" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
